**/.idea
**/.vs

**/*.DotSettings.user
**/*.DotSettings

**/bin
**/obj

src/Milo.Blazor/Components/**/*.css
src/Milo.Blazor.Shop.Customer/Pages/**/*.css
src/Milo.Blazor.Shop.Customer/Shared/**/*.css
src/Milo.Blazor.Shop.Customer/Shared/*.css
src/Milo.Blazor.Shop.Admin/Pages/**/*.css
src/Milo.Blazor.Shop.Admin/Shared/**/*.css
src/Milo.Blazor.Shop.Admin/Shared/*.css

**/Logs

.DS_Store
